:root {
    --bg-deep: #06070a;
    --surface: rgba(15, 18, 25, 0.7);
    --border: #33415526;
    --primary: #3b82f6;
    --success: #22c55e;
    --text: #e5e7eb;
    --muted: #94a3b8;
    --danger: #ef4444;
    --warning: #f59e0b;
}
.material-icons {
    font-size: 16px !important;
    vertical-align: middle;
}


body {
    font-family: Arial, sans-serif;
    background: var(--bg-deep);
    padding: 20px;
    color: var(--text);
}
.table-container {
  max-height: 400px;          /* ~10 rows height (adjust if needed) */
  overflow-y: auto;
  border: 1px solid #cccccc00;
    scrollbar-width: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: rgba(15, 18, 25, 0.7);
    border-radius: 16px;
}

th,
td {
    border-bottom: 1px solid var(--border);
    padding: 12px 14px;
    text-align: center;
    font-size: 14px;
    color: var(--muted);

}
tr#headerRow th:first-child{
    border-radius: 16px 0 0 0px;
}
tr#headerRow th:last-child{
    border-radius: 0px 16px 0 0px;
}

th {
    background: #ffffff10;
    color: rgb(255, 255, 255);
    position: sticky;
    border-right: 1px solid #ffffff1f;
    top: 0;
}

.cell-value {
    display: inline-block;
    min-width: 30px;
    padding: 8px 14px;
    border-radius: 8px;

    /* box-shadow:
        inset 0 1px 2px rgba(0, 0, 0, 0.2),
        0 2px 4px rgba(0, 0, 0, 0.15); */

    transition: all 0.3s ease;
}

td {
    padding: 6px;
}

/* .cell-value.ok {
background: var(--border);
} */

.cell-value.critical {
    box-shadow: inset 0 0 10px 2px rgba(255, 43, 43, 0.209);
    color: var(--danger);
    font-weight: bold;
    border: 1px solid var(--danger);
}
.cell-value.warning {
    box-shadow: inset 0 0 10px 2px rgba(255, 193, 7, 0.209);
    color: var(--warning);
    font-weight: bold;
    border: 1px solid var(--warning);
    font-size: 10px;
}

.cell-value.updated {
    animation: flash 0.6s;
    box-shadow:
        inset 0 0 6px rgba(255, 193, 7, 0.6),
        0 0 10px rgba(255, 193, 7, 0.9);
}

@keyframes flash {
    from {
        background-color: #fff59d;
    }

    to {
        background-color: inherit;
    }
}